
.title{
    color:white;
}
.nav-link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar{
    background-color: black;
}
.nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}
.nav-item{
    float: left;
}
.nav-item .nav-link:hover {
    background-color: rgb(88, 85, 82);;
    color:white;
  }
  .btn {
      margin:10px;
  }
  .nav-right{
    float:right;
}